<div class="icon" {{#if icon}}style="background-image: url({{icon}})"{{/if}}></div>
<div class="body">
  <span class="name">{{#if match}}{{highlightMatches match}}{{else}}{{name}}{{/if}}</span>
  <p class="description">{{description}}</p>
  {{#if link }}<a class="link" href="{{link}}">{{prettyUrl link}}</a>{{/if}}
</div>