<div class="icon" {{#if icon}}style="background-image: url({{icon}})"{{/if}}></div>
<div class="body">
  <span class="name">{{highlightMatches match}}</span>
  <p class="description">{{description}}</p>
  <a class="link" href="{{link}}">{{prettyUrl link}}</a>
</div>